{%extends 'base.html'%}

{% block title %}
<title>{{todolist.name}}Detail Todo List</title>    
{% endblock title %}

{% block main%}
<main>
    <div>
        <h1>{{todolist.name}}</h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for todoitem in todolist.items.all %}
                <tr>
                    <td>{{ todoitem.task }}</td>
                    <td>{{ todoitem.due_date|date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock main%}