{%extends 'base.html'%}

{% block title %}
<title>Todo List</title>    
{% endblock title %}

{% block main%}
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'todo_list_create' %}">Create a new list</a></p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todolist in todolist_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' todolist.pk %}">{{todolist.name}}</a></td>
                        <td>{{todolist.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock main%}