{%extends 'base.html'%}

{% block title %}
<title>New List</title>    
{% endblock title %}

{% block main%}

<main>
  <div>
    <h1>Create a New List</h1>
    <form method="post">
      {% csrf_token %}
      <label for="name">Name: </label><input type="text" name="name">
      <br>
      <br>
      <button>Create</button>
    </form>
  </div>
</main>

{% endblock main %}